build/ru/aberdeen-angus.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../styles/main.css">
    <title>Агрота-2Л</title>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.css">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick-theme.css">
    <script type="text/javascript" src="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.min.js"></script>
    <body>
      <header class="header-top">
        <div class="container">
          <div class="row">
            <div class="col"><a href="/"><img src="../images/logo.png" alt="logo"><span><img src="../images/icons.png" alt="icons"></span></a></div>
            <div class="col">
              <nav class="nav-main">
                <ul>
                  <li><a href="/">Про нашу фирму</a></li>
                  <li><a href="eloallat-szallitas.html">Перевозка скота</a></li>
                  <li><a href="contact.html">Контакты</a></li>
                  <li class="langs">
                    <a class="lang" href="../hu/index.html"><img src="../images/lang-hu.png" alt="icons"></a>
                    <a class="lang" href="../en/index.html"><img src="../images/lang-en.png" alt="icons"></a>
                    <a class="lang active" href="index.html"><img src="../images/lang-ru.png" alt="icons"></a>
                  </li>
                </ul>
              </nav>
              <nav class="navbar only_mobile">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent1" aria-controls="navbarSupportedContent1" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon my-toggler"></span></button>
              </nav>
            </div>
          </div>
        </div>
        <div class="collapse navbar-collapse only_mobile" id="navbarSupportedContent1">
          <ul class="navbar-nav nav-mobile">
            <li class="nav-item active"><a class="nav-link" href="/">Про нашу фирму <span class="sr-only">(current)</span></a></li>
            <li class="nav-item"><a class="nav-link" href="eloallat-szallitas.html">Перевозка скота</a></li>
            <hr>
            <li class="nav-item"><a class="nav-link" href="aberdeen-angus.html">Абердин-ангусская</a></li>
            <li class="nav-item"><a class="nav-link" href="charolais.html">Шаролезская</a></li>
            <li class="nav-item"><a class="nav-link" href="hereford.html">Герефордская</a></li>
            <li class="nav-item"><a class="nav-link" href="holstein-friz.html">Характеристика скота голштино-фризской</a></li>
            <li class="nav-item"><a class="nav-link" href="limousin.html">Лимузинская</a></li>
            <li class="nav-item"><a class="nav-link" href="szimentali.html">Симментальская</a></li>
            <hr>
            <li class="nav-item"><a class="nav-link" href="contact.html">Контакты</a></li>
            <li class="nav-item langs">
              <a class="nav-link lang" href="../hu/index.html"><img src="../images/lang-hu.png" alt="icons"></a>
              <a class="nav-link lang" href="../en/index.html"><img src="../images/lang-en.png" alt="icons"></a>
              <a class="nav-link lang active" href="index.html"><img src="../images/lang-ru.png" alt="icons"></a>
            </li>
          </ul>
        </div>
      </header>
      <div class="container">
        <div class="row">
          <div class="col">
            <nav class="nav-bottom">
              <ul>
                <li><a href="aberdeen-angus.html">Абердин-ангусская</a></li>
                <li><a href="charolais.html">Шаролезская</a></li>
                <li><a href="hereford.html">Герефордская</a></li>
                <li><a href="holstein-friz.html">Характеристика скота голштино-фризской</a></li>
                <li><a href="limousin.html">Лимузинская</a></li>
                <li><a href="szimentali.html">Симментальская</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
      <section class="beef">
        <div class="container">
          <div class="row">
            <div class="col">
              <h2 class="page-title">Абердин-ангусская порода</h2>
              <p class="lead"><b>Происхождение: Абердин-ангусская порода происходит из регионов Шотландии, располагающих хорошими пастбищами. Эту породу вывели более 100 лет тому назад. Примерно 40 лет тому назад в Германии начали скрещивать местный мясомолочный скот с шотландскими абердин-ангусами (АА), в результате чего получилась популяция немецких ангусов (ДА).</b></p>
              <div class="slider">
                <div class="slider-image">
                  <figure><img src="../images/beef-page/angus/slide-1/angus-1.jpg" alt="Angus"></figure>
                </div>
                <div class="slider-image">
                  <figure><img src="../images/beef-page/angus/slide-1/angus-2.jpg" alt="Angus"></figure>
                </div>
                <div class="slider-image">
                  <figure><img src="../images/beef-page/angus/slide-1/angus-3.jpg" alt="Angus"></figure>
                </div>
                <div class="slider-image">
                  <figure><img src="../images/beef-page/angus/slide-1/angus-4.jpg" alt="Angus"></figure>
                </div>
                <div class="slider-image">
                  <figure><img src="../images/beef-page/angus/slide-1/angus-5.jpg" alt="Angus"></figure>
                </div>
              </div>
              <div class="about">
                <h3>Характеристики</h3>
                <p>Абердин-ангусская порода – генетически комолая, чёрной и красной масти, но редко встречаются и коричневые особы. В области вымени и задней части живота разрешено небольшое белое пятно. Предпочтителен среднего размера тип с глубоким цилиндрическим корпусом и лёгким, крепким костяком. Хорошие мясные формы, характерные для породы, обеспечиваются ярко выраженной мускулатурой плечевого пояса, широкой и длинной спиной, а также глубокой с низко спускающейся мускулатурой задних конечностей. Для абердин ангусов, как породы крупного рогатого скота, характерны – раннее половое созревание, добрый нрав, хорошие приспособительные качества к различным условиям, лёгкие отёлы , выраженные материнские свойства, хорошая молочность, что обеспечивает нормальные рост и развитие потомства в подсосный период.</p>
              </div>
              <div class="slider">
                <div class="slider-image">
                  <figure><img src="../images/beef-page/angus/slide-2/angus-1.jpg" alt="Angus"></figure>
                </div>
                <div class="slider-image">
                  <figure><img src="../images/beef-page/angus/slide-2/angus-2.jpg" alt="Angus"></figure>
                </div>
                <div class="slider-image">
                  <figure><img src="../images/beef-page/angus/slide-2/angus-3.jpg" alt="Angus"></figure>
                </div>
                <div class="slider-image">
                  <figure><img src="../images/beef-page/angus/slide-2/angus-4.jpg" alt="Angus"></figure>
                </div>
                <div class="slider-image">
                  <figure><img src="../images/beef-page/angus/slide-2/angus-5.jpg" alt="Angus"></figure>
                </div>
              </div>
              <div class="about">
                <p>Благодаря генетически обусловленным признакам, а именно – производство тонко волокнистого, не жилистого мраморного мяса – эта порода пользуется успехом как для чистопородного разведения, так и для скрещиваний. Абердин-ангусский скот специализирован на производство высококачественной говядины. Чтобы не допустить раннего ожирения, необходимо придерживаться правил кормления этого скота. С учётом местных климатических и почвенных условий абердин-ангусский скот можно круглый год содержать на пастбище.</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <script type="text/javascript">
        $(document).ready(function(){
          $('.slider').slick({
            infinite: true,
            dots: true,
            slidesToShow: 2,
            slidesToScroll: 2,
            autoplay: true,
            autoplaySpeed: 2000
          });
        });
      </script>
      <footer>
        <div class="container">
          <div class="row">
            <div class="col"><a class="logo" href="#"><img src="../images/logo-green.png" alt="logo"></a>
              <p>HU-2100 Gödöllő, Ady Endre sétány 26.</p>
              <p>Email: info@agrota-2L.com, Tel: +36/28 512 390, Fax: +36/28 512 391</p>
              <p>DE-27726 Worpswede, Am Hasenmoor 27a</p>
              <p>Tel: +49 151 54 722 622</p>
              <p><small>Agrota-2L Kft. 2020. All rights reserved!</small></p>
            </div>
          </div>
        </div>
      </footer>
    </body>
  </head>
</html>

src/templates/aberdeen-angus.pug
include includes/head.pug
  
  body
    include includes/header.pug
    
    section.beef
      .container
        .row
          .col
            h2.page-title Aberdeen Angus Szarvasmarha
            
            p.lead
              b Az Aberdeen Angus fajta Skócia legelőterületeiről származik. Kis testű húsmarhafajta, korán faggyúsodik és a faggyút a hasűri szerveken, izomkötegek közé és a bőr alá raktározza. Igénytelen, gazdaságos, jó legelőhasznosítású szarvasmarha.
            
            .slider
              .slider-image
                figure
                  img(src='./images/beef-page/angus/slide-1/angus-1.jpg' alt='Angus')
              .slider-image
                figure
                  img(src='./images/beef-page/angus/slide-1/angus-2.jpg' alt='Angus')
              .slider-image
                figure
                  img(src='./images/beef-page/angus/slide-1/angus-3.jpg' alt='Angus')
              .slider-image
                figure
                  img(src='./images/beef-page/angus/slide-1/angus-4.jpg' alt='Angus')
              .slider-image
                figure
                  img(src='./images/beef-page/angus/slide-1/angus-5.jpg' alt='Angus')
            
            .about
              h3 Jellemzői
              p Genetikailag szarv nélküli fajta, színe általában fekete, de vörös színváltozata is létezik. A nyaka izmos és széles, hengeres formájú törzzsel és könnyű csontozattal. A magas húshányad szintén a fajta jellemzője a telt vállak, hosszú és széles hát, valamint a mélyen lenyúló combizomzat révén. Lábai rövidek, szabályosak. A fajtára épp úgy jellemző a korai érés, az engedelmesség, az alkalmazkodóképesség, és a könnyű ellés, mint az, hogy a borjak felneveléséhez elegendő tejjel rendelkeznek. A tehenek élőtömege 450-550kg között van. Korán érő típus, 13 – 15 hónapos korban tenyésztésbe vehető.
            
            .slider
              .slider-image
                figure
                  img(src='./images/beef-page/angus/slide-2/angus-1.jpg' alt='Angus')
              .slider-image
                figure
                  img(src='./images/beef-page/angus/slide-2/angus-2.jpg' alt='Angus')
              .slider-image
                figure
                  img(src='./images/beef-page/angus/slide-2/angus-3.jpg' alt='Angus')
              .slider-image
                figure
                  img(src='./images/beef-page/angus/slide-2/angus-4.jpg' alt='Angus')
              .slider-image
                figure
                  img(src='./images/beef-page/angus/slide-2/angus-5.jpg' alt='Angus')
            
            .about
              p A genetikailag rögzített tulajdonsága révén, hogy finom rostú, jól erezett húst fejlesszen – ez a fajta mind fajtiszta tenyészetekben, mind keresztezésben nagyon keresett. Az állatok speciálisan alkalmasak natúr marhahús termelésére, de a visszafogott táplálás miatt kisebb mértékű a felhízás, hogy a korai elzsírosodást elkerüljék. A talajviszonyok figyelembe vételével ez a fajta egész évben, a szabadban tartható.

    include includes/beefslider.pug
    include includes/footer.pug
