build/ru/charolais.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../styles/main.css">
    <title>Агрота-2Л</title>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.css">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick-theme.css">
    <script type="text/javascript" src="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.min.js"></script>
    <body>
      <header class="header-top">
        <div class="container">
          <div class="row">
            <div class="col"><a href="/"><img src="../images/logo.png" alt="logo"><span><img src="../images/icons.png" alt="icons"></span></a></div>
            <div class="col">
              <nav class="nav-main">
                <ul>
                  <li><a href="/">Про нашу фирму</a></li>
                  <li><a href="eloallat-szallitas.html">Перевозка скота</a></li>
                  <li><a href="contact.html">Контакты</a></li>
                  <li class="langs">
                    <a class="lang" href="../hu/index.html"><img src="../images/lang-hu.png" alt="icons"></a>
                    <a class="lang" href="../en/index.html"><img src="../images/lang-en.png" alt="icons"></a>
                    <a class="lang active" href="index.html"><img src="../images/lang-ru.png" alt="icons"></a>
                  </li>
                </ul>
              </nav>
              <nav class="navbar only_mobile">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent1" aria-controls="navbarSupportedContent1" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon my-toggler"></span></button>
              </nav>
            </div>
          </div>
        </div>
        <div class="collapse navbar-collapse only_mobile" id="navbarSupportedContent1">
          <ul class="navbar-nav nav-mobile">
            <li class="nav-item active"><a class="nav-link" href="/">Про нашу фирму <span class="sr-only">(current)</span></a></li>
            <li class="nav-item"><a class="nav-link" href="eloallat-szallitas.html">Перевозка скота</a></li>
            <hr>
            <li class="nav-item"><a class="nav-link" href="aberdeen-angus.html">Абердин-ангусская</a></li>
            <li class="nav-item"><a class="nav-link" href="charolais.html">Шаролезская</a></li>
            <li class="nav-item"><a class="nav-link" href="hereford.html">Герефордская</a></li>
            <li class="nav-item"><a class="nav-link" href="holstein-friz.html">Характеристика скота голштино-фризской</a></li>
            <li class="nav-item"><a class="nav-link" href="limousin.html">Лимузинская</a></li>
            <li class="nav-item"><a class="nav-link" href="szimentali.html">Симментальская</a></li>
            <hr>
            <li class="nav-item"><a class="nav-link" href="contact.html">Контакты</a></li>
            <li class="nav-item langs">
              <a class="nav-link lang" href="../hu/index.html"><img src="../images/lang-hu.png" alt="icons"></a>
              <a class="nav-link lang" href="../en/index.html"><img src="../images/lang-en.png" alt="icons"></a>
              <a class="nav-link lang active" href="index.html"><img src="../images/lang-ru.png" alt="icons"></a>
            </li>
          </ul>
        </div>
      </header>
      <div class="container">
        <div class="row">
          <div class="col">
            <nav class="nav-bottom">
              <ul>
                <li><a href="aberdeen-angus.html">Абердин-ангусская</a></li>
                <li><a href="charolais.html">Шаролезская</a></li>
                <li><a href="hereford.html">Герефордская</a></li>
                <li><a href="holstein-friz.html">Характеристика скота голштино-фризской</a></li>
                <li><a href="limousin.html">Лимузинская</a></li>
                <li><a href="szimentali.html">Симментальская</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
      <section class="beef">
        <div class="container">
          <div class="row">
            <div class="col">
              <h2 class="page-title">Шаролезская порода</h2>
              <p class="lead"><b>Порода шаролэ происходит от одной из ветвей крупного рогатого скота, распространённого в средней и восточной Европе ещё со времён юрского периода. Главным местом обитания является Средняя Франция, область Ньевр (Nevers), где она превратилась во всемирно известную мясную породу крупного рогатого скота.</b></p>
              <div class="slider">
                <div class="slider-image">
                  <figure><img src="../images/beef-page/charolais/slide-1/charolais-1.jpg" alt="Charolais"></figure>
                </div>
                <div class="slider-image">
                  <figure><img src="../images/beef-page/charolais/slide-1/charolais-2.jpg" alt="Charolais"></figure>
                </div>
                <div class="slider-image">
                  <figure><img src="../images/beef-page/charolais/slide-1/charolais-3.jpg" alt="Charolais"></figure>
                </div>
                <div class="slider-image">
                  <figure><img src="../images/beef-page/charolais/slide-1/charolais-4.jpg" alt="Charolais"></figure>
                </div>
                <div class="slider-image">
                  <figure><img src="../images/beef-page/charolais/slide-1/charolais-5.jpg" alt="Charolais"></figure>
                </div>
                <div class="slider-image">
                  <figure><img src="../images/beef-page/charolais/slide-1/charolais-6.jpg" alt="Charolais"></figure>
                </div>
                <div class="slider-image">
                  <figure><img src="../images/beef-page/charolais/slide-1/charolais-7.jpg" alt="Charolais"></figure>
                </div>
              </div>
              <div class="about">
                <h3>Характеристики</h3>
                <p>Интенсивная, высокой производительности мясная порода крупного рогатого скота. Одноцветный белый или кремовый шерстный покров, светлые – носовое зеркальце, рога и копыта. Уже в телячьем возрасте имеет развитую мускулатуру. Относительно высокий вес новорожденных телят ведёт, по сравнению с другими породами, к довольно часто возникающим осложнениям при отёлах. Мускулатура очень выразительная, особенно выделяются – область плеча, спина, вырезка, бедренная часть, что является типичным для породы. Для шаролэ характерна упругая линия спины, точно так же как крепкие ноги (фундамент), имеющие правильную постановку. Спокойное, порой ленивое поведение животных возможно приводит к тому, что они за день потребляют очень много корма и очень хорошо его усваивают, тем не менее не наблюдается у них отложение жира в местах наиболее развитой мускулатуры.</p>
              </div>
              <div class="slider">
                <div class="slider-image">
                  <figure><img src="../images/beef-page/charolais/slide-2/charolais-1.jpg" alt="Charolais"></figure>
                </div>
                <div class="slider-image">
                  <figure><img src="../images/beef-page/charolais/slide-2/charolais-2.jpg" alt="Charolais"></figure>
                </div>
                <div class="slider-image">
                  <figure><img src="../images/beef-page/charolais/slide-2/charolais-3.jpg" alt="Charolais"></figure>
                </div>
                <div class="slider-image">
                  <figure><img src="../images/beef-page/charolais/slide-2/charolais-4.jpg" alt="Charolais"></figure>
                </div>
                <div class="slider-image">
                  <figure><img src="../images/beef-page/charolais/slide-2/charolais-5.jpg" alt="Charolais"></figure>
                </div>
              </div>
              <div class="about">
                <p>Наряду с чистопородным разведением пригодна для использования в промышленном скрещивании с молочными породами и породами молочно-мясного направления, главным образом для улучшения мясных качеств. Продолжительность роста, оптимальная оплата кормов, очень высокая мясная продуктивность, хорошие приспособительные способности – те качества, которые обеспечивают шаролезской породе превосходную позицию и экономичность при разведении. Благодаря этим положительным качествам быки шаролезской породы используются и в скрещиваниях с другими мясными породами.</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <script type="text/javascript">
        $(document).ready(function(){
          $('.slider').slick({
            infinite: true,
            dots: true,
            slidesToShow: 2,
            slidesToScroll: 2,
            autoplay: true,
            autoplaySpeed: 2000
          });
        });
      </script>
      <footer>
        <div class="container">
          <div class="row">
            <div class="col"><a class="logo" href="#"><img src="../images/logo-green.png" alt="logo"></a>
              <p>HU-2100 Gödöllő, Ady Endre sétány 26.</p>
              <p>Email: info@agrota-2L.com, Tel: +36/28 512 390, Fax: +36/28 512 391</p>
              <p>DE-27726 Worpswede, Am Hasenmoor 27a</p>
              <p>Tel: +49 151 54 722 622</p>
              <p><small>Agrota-2L Kft. 2020. All rights reserved!</small></p>
            </div>
          </div>
        </div>
      </footer>
    </body>
  </head>
</html>

src/templates/charolais.pug
include includes/head.pug
  
  body
    include includes/header.pug
    
    section.beef
      .container
        .row
          .col
            h2.page-title Charolais Szarvasmarha
            
            p.lead
              b A charolais világszerte elterjedt, nagy termetű húshasznú szarvasmarha fajta. Származási helye Franciaország, Charolles város vidéke. Egyszínű fehér, vagy krémszínű szőrzet, világos szutyak, világos szarvak és körmök. A charolais nagytestű, nagy növekedési erélyű, későn érő és könnyen kezelhető szarvasmarha.

            .slider
              .slider-image
                figure
                  img(src='./images/beef-page/charolais/slide-1/charolais-1.jpg' alt='Charolais')
              .slider-image
                figure
                  img(src='./images/beef-page/charolais/slide-1/charolais-2.jpg' alt='Charolais')
              .slider-image
                figure
                  img(src='./images/beef-page/charolais/slide-1/charolais-3.jpg' alt='Charolais')
              .slider-image
                figure
                  img(src='./images/beef-page/charolais/slide-1/charolais-4.jpg' alt='Charolais')
              .slider-image
                figure
                  img(src='./images/beef-page/charolais/slide-1/charolais-5.jpg' alt='Charolais')
              .slider-image
                figure
                  img(src='./images/beef-page/charolais/slide-1/charolais-6.jpg' alt='Charolais')
              .slider-image
                figure
                  img(src='./images/beef-page/charolais/slide-1/charolais-7.jpg' alt='Charolais')

            .about
              h3 Jellemzői
              p Már a borjaknál is megvan az erős izomzat. A viszonylag magas születési súly vezet a más fajokhoz viszonyítva gyakoribb ellési komplikációhoz. A nagyon kifejezett izomzat, ezen belül a váll, a hát, a bélszín és a comb izomzata fajtatipikus. Az állatok nyugodt, esetleg lusta viselkedése lehetővé teszi naponta nagy mennyiségű táplálék bevitelét és jó hatásfokú hasznosítását , mégis kevés hajlamot mutatnak az értékes húsrészek elzsírosodására. Húskitermelési százaléka jó, faggyúban szegény, jól márványozott a húsa. A hízóbikák gyarapodása elérheti a napi 2 kg-ot is, nagy végsúlyra gazdaságosan hízlalhatók. A Charolais tehenek jó borjúnevelők.

            .slider
              .slider-image
                figure
                  img(src='./images/beef-page/charolais/slide-2/charolais-1.jpg' alt='Charolais')
              .slider-image
                figure
                  img(src='./images/beef-page/charolais/slide-2/charolais-2.jpg' alt='Charolais')
              .slider-image
                figure
                  img(src='./images/beef-page/charolais/slide-2/charolais-3.jpg' alt='Charolais')
              .slider-image
                figure
                  img(src='./images/beef-page/charolais/slide-2/charolais-4.jpg' alt='Charolais')
              .slider-image
                figure
                  img(src='./images/beef-page/charolais/slide-2/charolais-5.jpg' alt='Charolais')

            .about
              p A fajtiszta tenyésztés mellett alkalmas tejelő, vagy kettőshasznosítású fajtákkal haszonkeresztezésre elsősorban az apaállatok oldaláról a húskitermelés javítására. Hosszan tartó növekedés, optimális táplálékhasznosítás, bőséges hústermelés, jó alkalmazkodóképesség – ezek biztosítják a Charolais fajta előkelő pozícióját és gazdaságosságát.

    include includes/beefslider.pug    
    include includes/footer.pug
