build/en/hereford.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../styles/main.css">
    <title>Agrota</title>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.css">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick-theme.css">
    <script type="text/javascript" src="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.min.js"></script>
    <body>
      <header class="header-top">
        <div class="container">
          <div class="row">
            <div class="col"><a href="/"><img src="../images/logo.png" alt="logo"><span><img src="../images/icons.png" alt="icons"></span></a></div>
            <div class="col">
              <nav class="nav-main">
                <ul>
                  <li><a href="/">About Us</a></li>
                  <li><a href="eloallat-szallitas.html">Livestock Transport</a></li>
                  <li><a href="contact.html">Contact</a></li>
                  <li class="langs">
                    <a class="lang" href="../hu/index.html"><img src="../images/lang-hu.png" alt="icons"></a>
                    <a class="lang active" href="index.html"><img src="../images/lang-en.png" alt="icons"></a>
                    <a class="lang" href="../ru/index.html"><img src="../images/lang-ru.png" alt="icons"></a>
                  </li>
                </ul>
              </nav>
              <nav class="navbar only_mobile">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent1" aria-controls="navbarSupportedContent1" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon my-toggler"></span></button>
              </nav>
            </div>
          </div>
        </div>
        <div class="collapse navbar-collapse only_mobile" id="navbarSupportedContent1">
          <ul class="navbar-nav nav-mobile">
            <li class="nav-item active"><a class="nav-link" href="/">About Us <span class="sr-only">(current)</span></a></li>
            <li class="nav-item"><a class="nav-link" href="eloallat-szallitas.html">Livestock Transport</a></li>
            <hr>
            <li class="nav-item"><a class="nav-link" href="aberdeen-angus.html">Aberdeen angus</a></li>
            <li class="nav-item"><a class="nav-link" href="charolais.html">Charolais</a></li>
            <li class="nav-item"><a class="nav-link" href="hereford.html">Hereford</a></li>
            <li class="nav-item"><a class="nav-link" href="holstein-friz.html">Holstein friesian</a></li>
            <li class="nav-item"><a class="nav-link" href="limousin.html">Limousin</a></li>
            <li class="nav-item"><a class="nav-link" href="szimentali.html">Simmental</a></li>
            <hr>
            <li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li>
            <li class="nav-item langs">
              <a class="nav-link lang" href="../hu/index.html"><img src="../images/lang-hu.png" alt="icons"></a>
              <a class="nav-link lang active" href="index.html"><img src="../images/lang-en.png" alt="icons"></a>
              <a class="nav-link lang" href="../ru/index.html"><img src="../images/lang-ru.png" alt="icons"></a>
            </li>
          </ul>
        </div>
      </header>
      <div class="container">
        <div class="row">
          <div class="col">
            <nav class="nav-bottom">
              <ul>
                <li><a href="aberdeen-angus.html">Aberdeen angus</a></li>
                <li><a href="charolais.html">Charolais</a></li>
                <li><a href="hereford.html">Hereford</a></li>
                <li><a href="holstein-friz.html">Holstein friesian</a></li>
                <li><a href="limousin.html">Limousin</a></li>
                <li><a href="szimentali.html">Simmental</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
      <section class="beef">
        <div class="container">
          <div class="row">
            <div class="col">
              <h2 class="page-title">Hereford Cattle</h2>
              <p class="lead"><b>Hereford cattle is originally from the county of Herefordshire, situated in West England. The export trade of the cattle begun from United Kingdom, and it spread all over the World. Hereford is one of the most widespread beef cattle with a small body frame.</b></p>
              <div class="slider">
                <div class="slider-image">
                  <figure><img src="../images/beef-page/hereford/slide-1/hereford-1.jpg" alt="Hereford"></figure>
                </div>
                <div class="slider-image">
                  <figure><img src="../images/beef-page/hereford/slide-1/hereford-2.jpg" alt="Hereford"></figure>
                </div>
                <div class="slider-image">
                  <figure><img src="../images/beef-page/hereford/slide-1/hereford-3.jpg" alt="Hereford"></figure>
                </div>
                <div class="slider-image">
                  <figure><img src="../images/beef-page/hereford/slide-1/hereford-4.jpg" alt="Hereford"></figure>
                </div>
                <div class="slider-image">
                  <figure><img src="../images/beef-page/hereford/slide-1/hereford-5.jpg" alt="Hereford"></figure>
                </div>
                <div class="slider-image">
                  <figure><img src="../images/beef-page/hereford/slide-1/hereford-6.jpg" alt="Hereford"></figure>
                </div>
                <div class="slider-image">
                  <figure><img src="../images/beef-page/hereford/slide-1/hereford-7.jpg" alt="Hereford"></figure>
                </div>
                <div class="slider-image">
                  <figure><img src="../images/beef-page/hereford/slide-1/hereford-8.jpg" alt="Hereford"></figure>
                </div>
                <div class="slider-image">
                  <figure><img src="../images/beef-page/hereford/slide-1/hereford-9.jpg" alt="Hereford"></figure>
                </div>
              </div>
              <div class="about">
                <h3>Characteristics</h3>
                <p>Hereford cattle may weigh between 500-600kg. The modern Hereford is coloured deep cherry red and fleckled with small amount of white. The white face of a Hereford is a dominant characteristic, and also recognizable about the white markings on the udder, dewlap and below the knees.</p>
                <p>The udder of a Hereford is quite wide and deep. The back is also wide, straight and muscular. Hereford has quite small legs. Herefords valued for their early maturity, which means Hereford females reach puberty by the time they are 14 months of age, so breeding begins at age of 14-16 months, and another important good quality that they are also appreciated for easy calving ability. Herefords begin producing tallow early, and they store it mostly in the abdominal space, and under their skin.</p>
              </div>
              <div class="slider">
                <div class="slider-image">
                  <figure><img src="../images/beef-page/hereford/slide-2/hereford-1.jpg" alt="Hereford"></figure>
                </div>
                <div class="slider-image">
                  <figure><img src="../images/beef-page/hereford/slide-2/hereford-2.jpg" alt="Hereford"></figure>
                </div>
                <div class="slider-image">
                  <figure><img src="../images/beef-page/hereford/slide-2/hereford-3.jpg" alt="Hereford"></figure>
                </div>
                <div class="slider-image">
                  <figure><img src="../images/beef-page/hereford/slide-2/hereford-4.jpg" alt="Hereford"></figure>
                </div>
                <div class="slider-image">
                  <figure><img src="../images/beef-page/hereford/slide-2/hereford-5.jpg" alt="Hereford"></figure>
                </div>
                <div class="slider-image">
                  <figure><img src="../images/beef-page/hereford/slide-2/hereford-6.jpg" alt="Hereford"></figure>
                </div>
                <div class="slider-image">
                  <figure><img src="../images/beef-page/hereford/slide-2/hereford-7.jpg" alt="Hereford"></figure>
                </div>
              </div>
              <div class="about">
                <p>Herefords are one of the most highly adaptable breeds of cattle in the world, and provide an excellent meat quality. They can survive on a low quality pasture, so Herefords are good for territories where the climate is extreme, and for other cattle the area would be unsuitable.</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <script type="text/javascript">
        $(document).ready(function(){
          $('.slider').slick({
            infinite: true,
            dots: true,
            slidesToShow: 2,
            slidesToScroll: 2,
            autoplay: true,
            autoplaySpeed: 2000
          });
        });
      </script>
      <footer>
        <div class="container">
          <div class="row">
            <div class="col"><a class="logo" href="#"><img src="../images/logo-green.png" alt="logo"></a>
              <p>HU-2100 Gödöllő, Ady Endre sétány 26.</p>
              <p>Email: info@agrota-2L.com, Tel: +36/28 512 390, Fax: +36/28 512 391</p>
              <p>DE-27726 Worpswede, Am Hasenmoor 27a</p>
              <p>Tel: +49 151 54 722 622</p>
              <p><small>Agrota-2L Kft. 2020. All right reserved!</small></p>
            </div>
          </div>
        </div>
      </footer>
    </body>
  </head>
</html>

src/templates/hereford.pug
include includes/head.pug
  
  body
    include includes/header.pug
    
    section.beef
      .container
        .row
          .col
            h2.page-title Hereford Szarvasmarha
    
            p.lead
              b Hereford cattle is originally from the county of Herefordshire, situated in West England. The export trade of the cattle begun from United Kingdom, and it spread all over the World. Hereford is one of the most widespread beef cattle with a small body frame.

            .slider
              .slider-image
                figure
                  img(src='./images/beef-page/hereford/slide-1/hereford-1.jpg' alt='Hereford')
              .slider-image
                figure
                  img(src='./images/beef-page/hereford/slide-1/hereford-2.jpg' alt='Hereford')
              .slider-image
                figure
                  img(src='./images/beef-page/hereford/slide-1/hereford-3.jpg' alt='Hereford')
              .slider-image
                figure
                  img(src='./images/beef-page/hereford/slide-1/hereford-4.jpg' alt='Hereford')
              .slider-image
                figure
                  img(src='./images/beef-page/hereford/slide-1/hereford-5.jpg' alt='Hereford')
              .slider-image
                figure
                  img(src='./images/beef-page/hereford/slide-1/hereford-6.jpg' alt='Hereford')
              .slider-image
                figure
                  img(src='./images/beef-page/hereford/slide-1/hereford-7.jpg' alt='Hereford')
              .slider-image
                figure
                  img(src='./images/beef-page/hereford/slide-1/hereford-8.jpg' alt='Hereford')
              .slider-image
                figure
                  img(src='./images/beef-page/hereford/slide-1/hereford-9.jpg' alt='Hereford')

            .about
              h3 Jellemzői
              p A hereford kistestű, a tehén élőtömege 500-600 kg között van. Színe fedett mélyvörös, kevés fehér tarkázottsággal. Dominánsan öröklődő jellemzője a fehér homlok. Fehér foltok a fejen, a mellen, a hason és a végtagokon. A szőrzet a simától a göndörig változhat. A mellkas igen széles és mély. A hát széles, egyenes és jól izmolt, a lába rövid. Létezik szarv nélküli változata is. Korán érő fajta, tenyésztésbe vételének ideje 14-16 hónap. Az ellések lefolyása általában könnyű. Korán faggyúsodik, és a faggyút elsősorban a hasűrbe és a bőr alá raktározza.

            .slider
              .slider-image
                figure
                  img(src='./images/beef-page/hereford/slide-2/hereford-1.jpg' alt='Hereford')
              .slider-image
                figure
                  img(src='./images/beef-page/hereford/slide-2/hereford-2.jpg' alt='Hereford')
              .slider-image
                figure
                  img(src='./images/beef-page/hereford/slide-2/hereford-3.jpg' alt='Hereford')
              .slider-image
                figure
                  img(src='./images/beef-page/hereford/slide-2/hereford-4.jpg' alt='Hereford')
              .slider-image
                figure
                  img(src='./images/beef-page/hereford/slide-2/hereford-5.jpg' alt='Hereford')
              .slider-image
                figure
                  img(src='./images/beef-page/hereford/slide-2/hereford-6.jpg' alt='Hereford')
              .slider-image
                figure
                  img(src='./images/beef-page/hereford/slide-2/hereford-7.jpg' alt='Hereford')

            .about
              p A hereford igénytelen és alkalmazkodóképes, a gyenge minőségű legelőkön is megél, ezért elsősorban a szélsőséges klímájú, más szarvasmarhával nem hasznosítható területek marhája. Alkalmas anyatehén csordákban legeltető tartással hústermelésre. Nagyon alkalmas tejelő fajtákkal való haszonkeresztezésre. A hízó állatok növekedési erélye szerény, a gazdaságos hizlalási végtömeg 400-450 kg.
    
    include includes/beefslider.pug
    include includes/footer.pug
