build/ru/limousin.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../styles/main.css">
    <title>Агрота-2Л</title>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.css">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick-theme.css">
    <script type="text/javascript" src="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.min.js"></script>
    <body>
      <header class="header-top">
        <div class="container">
          <div class="row">
            <div class="col"><a href="/"><img src="../images/logo.png" alt="logo"><span><img src="../images/icons.png" alt="icons"></span></a></div>
            <div class="col">
              <nav class="nav-main">
                <ul>
                  <li><a href="/">Про нашу фирму</a></li>
                  <li><a href="eloallat-szallitas.html">Перевозка скота</a></li>
                  <li><a href="contact.html">Контакты</a></li>
                  <li class="langs">
                    <a class="lang" href="../hu/index.html"><img src="../images/lang-hu.png" alt="icons"></a>
                    <a class="lang" href="../en/index.html"><img src="../images/lang-en.png" alt="icons"></a>
                    <a class="lang active" href="index.html"><img src="../images/lang-ru.png" alt="icons"></a>
                  </li>
                </ul>
              </nav>
              <nav class="navbar only_mobile">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent1" aria-controls="navbarSupportedContent1" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon my-toggler"></span></button>
              </nav>
            </div>
          </div>
        </div>
        <div class="collapse navbar-collapse only_mobile" id="navbarSupportedContent1">
          <ul class="navbar-nav nav-mobile">
            <li class="nav-item active"><a class="nav-link" href="/">Про нашу фирму <span class="sr-only">(current)</span></a></li>
            <li class="nav-item"><a class="nav-link" href="eloallat-szallitas.html">Перевозка скота</a></li>
            <hr>
            <li class="nav-item"><a class="nav-link" href="aberdeen-angus.html">Абердин-ангусская</a></li>
            <li class="nav-item"><a class="nav-link" href="charolais.html">Шаролезская</a></li>
            <li class="nav-item"><a class="nav-link" href="hereford.html">Герефордская</a></li>
            <li class="nav-item"><a class="nav-link" href="holstein-friz.html">Характеристика скота голштино-фризской</a></li>
            <li class="nav-item"><a class="nav-link" href="limousin.html">Лимузинская</a></li>
            <li class="nav-item"><a class="nav-link" href="szimentali.html">Симментальская</a></li>
            <hr>
            <li class="nav-item"><a class="nav-link" href="contact.html">Контакты</a></li>
            <li class="nav-item langs">
              <a class="nav-link lang" href="../hu/index.html"><img src="../images/lang-hu.png" alt="icons"></a>
              <a class="nav-link lang" href="../en/index.html"><img src="../images/lang-en.png" alt="icons"></a>
              <a class="nav-link lang active" href="index.html"><img src="../images/lang-ru.png" alt="icons"></a>
            </li>
          </ul>
        </div>
      </header>
      <div class="container">
        <div class="row">
          <div class="col">
            <nav class="nav-bottom">
              <ul>
                <li><a href="aberdeen-angus.html">Абердин-ангусская</a></li>
                <li><a href="charolais.html">Шаролезская</a></li>
                <li><a href="hereford.html">Герефордская</a></li>
                <li><a href="holstein-friz.html">Характеристика скота голштино-фризской</a></li>
                <li><a href="limousin.html">Лимузинская</a></li>
                <li><a href="szimentali.html">Симментальская</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
      <section class="beef">
        <div class="container">
          <div class="row">
            <div class="col">
              <h2 class="page-title">Лимузинская порода</h2>
              <p class="lead"><b>Родина породы среднегористая местность на юго-востоке Франции, центром которой является г. Лимож (Limoges). Эта порода мясного направления относится к породам средней крупности. Она распространилась по всей Европе, включая Россию и на всех континентах земного шара.</b></p>
              <div class="slider">
                <div class="slider-image">
                  <figure><img src="../images/beef-page/limousin/slide-1/limousin-1.jpg" alt="Limousin"></figure>
                </div>
                <div class="slider-image">
                  <figure><img src="../images/beef-page/limousin/slide-1/limousin-2.jpg" alt="Limousin"></figure>
                </div>
                <div class="slider-image">
                  <figure><img src="../images/beef-page/limousin/slide-1/limousin-3.jpg" alt="Limousin"></figure>
                </div>
                <div class="slider-image">
                  <figure><img src="../images/beef-page/limousin/slide-1/limousin-4.jpg" alt="Limousin"></figure>
                </div>
                <div class="slider-image">
                  <figure><img src="../images/beef-page/limousin/slide-1/limousin-5.jpg" alt="Limousin"></figure>
                </div>
                <div class="slider-image">
                  <figure><img src="../images/beef-page/limousin/slide-1/limousin-6.jpg" alt="Limousin"></figure>
                </div>
                <div class="slider-image">
                  <figure><img src="../images/beef-page/limousin/slide-1/limousin-7.jpg" alt="Limousin"></figure>
                </div>
                <div class="slider-image">
                  <figure><img src="../images/beef-page/limousin/slide-1/limousin-8.jpg" alt="Limousin"></figure>
                </div>
                <div class="slider-image">
                  <figure><img src="../images/beef-page/limousin/slide-1/limousin-9.jpg" alt="Limousin"></figure>
                </div>
                <div class="slider-image">
                  <figure><img src="../images/beef-page/limousin/slide-1/limousin-10.jpg" alt="Limousin"></figure>
                </div>
              </div>
              <div class="about">
                <h3>Характеристики</h3>
                <p>Масть животных лимузинской породы – тёмно красная со светлым или более темным оттенком. Светлые участки бывают только на ногах, носовом зеркальце, вокруг глаз и на внутренней поверхности бедер. Относительно длинное туловище с широкой спиной, исключительно мускулистые бёдра – лежат в основе производства большого количества мяса. Мясо с белыми прожилками.</p>
              </div>
              <div class="slider">
                <div class="slider-image">
                  <figure><img src="../images/beef-page/limousin/slide-2/limousin-1.jpg" alt="Limousin"></figure>
                </div>
                <div class="slider-image">
                  <figure><img src="../images/beef-page/limousin/slide-2/limousin-2.jpg" alt="Limousin"></figure>
                </div>
                <div class="slider-image">
                  <figure><img src="../images/beef-page/limousin/slide-2/limousin-3.jpg" alt="Limousin"></figure>
                </div>
                <div class="slider-image">
                  <figure><img src="../images/beef-page/limousin/slide-2/limousin-4.jpg" alt="Limousin"></figure>
                </div>
                <div class="slider-image">
                  <figure><img src="../images/beef-page/limousin/slide-2/limousin-5.jpg" alt="Limousin"></figure>
                </div>
              </div>
              <div class="about">
                <p>Хорошие, правильной постановки ноги, крепкие копыта позволяют круглый год содержать животных на пастбище. У лимузинов относительно длинный и слегка спущенный круп, что создаёт возможность лёгких отёлов при невысоком весе новорожденных телят. Породу характеризуют также такие хозяйственно полезные качества как плодовитость, продуктивное долголетие и хорошая приспособляемость к самым различным условиям внешней среды и методам содержания.</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <script type="text/javascript">
        $(document).ready(function(){
          $('.slider').slick({
            infinite: true,
            dots: true,
            slidesToShow: 2,
            slidesToScroll: 2,
            autoplay: true,
            autoplaySpeed: 2000
          });
        });
      </script>
      <footer>
        <div class="container">
          <div class="row">
            <div class="col"><a class="logo" href="#"><img src="../images/logo-green.png" alt="logo"></a>
              <p>HU-2100 Gödöllő, Ady Endre sétány 26.</p>
              <p>Email: info@agrota-2L.com, Tel: +36/28 512 390, Fax: +36/28 512 391</p>
              <p>DE-27726 Worpswede, Am Hasenmoor 27a</p>
              <p>Tel: +49 151 54 722 622</p>
              <p><small>Agrota-2L Kft. 2020. All rights reserved!</small></p>
            </div>
          </div>
        </div>
      </footer>
    </body>
  </head>
</html>

src/templates/limousin.pug
include includes/head.pug
  
  body
    include includes/header.pug
    
    section.beef
      .container
        .row
          .col
            h2.page-title Limousin Szarvasmarha
    
            p.lead
              b Ma az egyik legkeresettebb nagytestű húsmarhafajta, Franciaország Limousin régiójából származik. A limousin fajta könnyedén felismerhető és megkülönböztethető a többi szarvasmarha fajtától az arany-vörös színe miatt.

            .slider
              .slider-image
                figure
                  img(src='./images/beef-page/limousin/slide-1/limousin-1.jpg' alt='Limousin')
              .slider-image
                figure
                  img(src='./images/beef-page/limousin/slide-1/limousin-2.jpg' alt='Limousin')
              .slider-image
                figure
                  img(src='./images/beef-page/limousin/slide-1/limousin-3.jpg' alt='Limousin')
              .slider-image
                figure
                  img(src='./images/beef-page/limousin/slide-1/limousin-4.jpg' alt='Limousin')
              .slider-image
                figure
                  img(src='./images/beef-page/limousin/slide-1/limousin-5.jpg' alt='Limousin')
              .slider-image
                figure
                  img(src='./images/beef-page/limousin/slide-1/limousin-6.jpg' alt='Limousin')
              .slider-image
                figure
                  img(src='./images/beef-page/limousin/slide-1/limousin-7.jpg' alt='Limousin')
              .slider-image
                figure
                  img(src='./images/beef-page/limousin/slide-1/limousin-8.jpg' alt='Limousin')
              .slider-image
                figure
                  img(src='./images/beef-page/limousin/slide-1/limousin-9.jpg' alt='Limousin')
              .slider-image
                figure
                  img(src='./images/beef-page/limousin/slide-1/limousin-10.jpg' alt='Limousin')

            .about
              h3 Jellemzői
              p Az egyszínű, világosabb, vagy sötétebb vörös Limousin szarvasmarhán csak a lábakon, a szutyakon, a szem környékén és a belső combon vannak jellegzetes világosabb területek. A viszonylag hosszú törzs széles háttal és a comb a rendkívüli izomzatával a magas húskihozatal alapja. A hús jól erezett. A finom, korrekt állású láb szilárd körmökkel alkalmassá teszi arra, hogy jól lehessen legelőn tartani.A limousin szarvasmarha relatíve hosszú és enyhén ereszkedő medencéje és az alacsony születési súlya könnyű ellést tesz lehetővé.További fajtajellemzők a vitalitás, a termékenység, a hosszú élettartam és az alkalmazkodóképesség. Középkorán érő fajta, üszői 18-20 hónapos korban vehetők tenyésztésbe.

            .slider
              .slider-image
                figure
                  img(src='./images/beef-page/limousin/slide-2/limousin-1.jpg' alt='Limousin')
              .slider-image
                figure
                  img(src='./images/beef-page/limousin/slide-2/limousin-2.jpg' alt='Limousin')
              .slider-image
                figure
                  img(src='./images/beef-page/limousin/slide-2/limousin-3.jpg' alt='Limousin')
              .slider-image
                figure
                  img(src='./images/beef-page/limousin/slide-2/limousin-4.jpg' alt='Limousin')
              .slider-image
                figure
                  img(src='./images/beef-page/limousin/slide-2/limousin-5.jpg' alt='Limousin')

            .about
              p A Limousin akár fajtatiszta tenyésztésben, akár keresztezésben kiválóan alkalmas a legmagasabb minőségi követelményeket kielégítő hústermelésre. Súlyánál és takarmányigényénél fogva ez a marha kevésbé gyorsan növekedő legelőkön, középhegységekben is tartható. A borjak nagy vitalitása jelentősen csökkenti a veszteséget leborjadzáskor.
    
    include includes/beefslider.pug
    include includes/footer.pug
