build/en/szimentali.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../styles/main.css">
    <title>Agrota</title>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.css">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick-theme.css">
    <script type="text/javascript" src="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.min.js"></script>
    <body>
      <header class="header-top">
        <div class="container">
          <div class="row">
            <div class="col"><a href="/"><img src="../images/logo.png" alt="logo"><span><img src="../images/icons.png" alt="icons"></span></a></div>
            <div class="col">
              <nav class="nav-main">
                <ul>
                  <li><a href="/">About Us</a></li>
                  <li><a href="eloallat-szallitas.html">Livestock Transport</a></li>
                  <li><a href="contact.html">Contact</a></li>
                  <li class="langs">
                    <a class="lang" href="../hu/index.html"><img src="../images/lang-hu.png" alt="icons"></a>
                    <a class="lang active" href="index.html"><img src="../images/lang-en.png" alt="icons"></a>
                    <a class="lang" href="../ru/index.html"><img src="../images/lang-ru.png" alt="icons"></a>
                  </li>
                </ul>
              </nav>
              <nav class="navbar only_mobile">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent1" aria-controls="navbarSupportedContent1" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon my-toggler"></span></button>
              </nav>
            </div>
          </div>
        </div>
        <div class="collapse navbar-collapse only_mobile" id="navbarSupportedContent1">
          <ul class="navbar-nav nav-mobile">
            <li class="nav-item active"><a class="nav-link" href="/">About Us <span class="sr-only">(current)</span></a></li>
            <li class="nav-item"><a class="nav-link" href="eloallat-szallitas.html">Livestock Transport</a></li>
            <hr>
            <li class="nav-item"><a class="nav-link" href="aberdeen-angus.html">Aberdeen angus</a></li>
            <li class="nav-item"><a class="nav-link" href="charolais.html">Charolais</a></li>
            <li class="nav-item"><a class="nav-link" href="hereford.html">Hereford</a></li>
            <li class="nav-item"><a class="nav-link" href="holstein-friz.html">Holstein friesian</a></li>
            <li class="nav-item"><a class="nav-link" href="limousin.html">Limousin</a></li>
            <li class="nav-item"><a class="nav-link" href="szimentali.html">Simmental</a></li>
            <hr>
            <li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li>
            <li class="nav-item langs">
              <a class="nav-link lang" href="../hu/index.html"><img src="../images/lang-hu.png" alt="icons"></a>
              <a class="nav-link lang active" href="index.html"><img src="../images/lang-en.png" alt="icons"></a>
              <a class="nav-link lang" href="../ru/index.html"><img src="../images/lang-ru.png" alt="icons"></a>
            </li>
          </ul>
        </div>
      </header>
      <div class="container">
        <div class="row">
          <div class="col">
            <nav class="nav-bottom">
              <ul>
                <li><a href="aberdeen-angus.html">Aberdeen angus</a></li>
                <li><a href="charolais.html">Charolais</a></li>
                <li><a href="hereford.html">Hereford</a></li>
                <li><a href="holstein-friz.html">Holstein friesian</a></li>
                <li><a href="limousin.html">Limousin</a></li>
                <li><a href="szimentali.html">Simmental</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
      <section class="beef">
        <div class="container">
          <div class="row">
            <div class="col">
              <h2 class="page-title">Simmental Cattle</h2>
              <p class="lead">Simmentals originated from Switzerland. The Simmental has historically been used for dairy and beef production. They are particularly renowned for the rapid growth of their young, if given sufficient feed. Simmentals provide more combined weaning gain and milk yield than any other breed and the breed grew to become Europe’s dominant dual purpose beef/milk breed.</p>
              <div class="slider">
                <div class="slider-image">
                  <figure><img src="../images/beef-page/simmental/slide-1/simmental-1.jpg" alt="Szimentáli"></figure>
                </div>
                <div class="slider-image">
                  <figure><img src="../images/beef-page/simmental/slide-1/simmental-2.jpg" alt="Szimentáli"></figure>
                </div>
                <div class="slider-image">
                  <figure><img src="../images/beef-page/simmental/slide-1/simmental-3.jpg" alt="Szimentáli"></figure>
                </div>
                <div class="slider-image">
                  <figure><img src="../images/beef-page/simmental/slide-1/simmental-4.jpg" alt="Szimentáli"></figure>
                </div>
                <div class="slider-image">
                  <figure><img src="../images/beef-page/simmental/slide-1/simmental-5.jpg" alt="Szimentáli"></figure>
                </div>
                <div class="slider-image">
                  <figure><img src="../images/beef-page/simmental/slide-1/simmental-6.jpg" alt="Szimentáli"></figure>
                </div>
                <div class="slider-image">
                  <figure><img src="../images/beef-page/simmental/slide-1/simmental-7.jpg" alt="Szimentáli"></figure>
                </div>
                <div class="slider-image">
                  <figure><img src="../images/beef-page/simmental/slide-1/simmental-8.jpg" alt="Szimentáli"></figure>
                </div>
                <div class="slider-image">
                  <figure><img src="../images/beef-page/simmental/slide-1/simmental-9.jpg" alt="Szimentáli"></figure>
                </div>
              </div>
              <div class="about">
                <p>The name is given specifically to the breed in Switzerland, and the breed contributed to the creation of several other famous european breeds, including Montbeliarde in France, or Fleckvieh in Germany and Austria, Hungarian and Slovakian Spotted cattle.</p>
              </div>
              <div class="slider">
                <div class="slider-image">
                  <figure><img src="../images/beef-page/simmental/slide-2/simmental-1.jpg" alt="Szimentáli"></figure>
                </div>
                <div class="slider-image">
                  <figure><img src="../images/beef-page/simmental/slide-2/simmental-2.jpg" alt="Szimentáli"></figure>
                </div>
                <div class="slider-image">
                  <figure><img src="../images/beef-page/simmental/slide-2/simmental-3.jpg" alt="Szimentáli"></figure>
                </div>
                <div class="slider-image">
                  <figure><img src="../images/beef-page/simmental/slide-2/simmental-4.jpg" alt="Szimentáli"></figure>
                </div>
                <div class="slider-image">
                  <figure><img src="../images/beef-page/simmental/slide-2/simmental-5.jpg" alt="Szimentáli"></figure>
                </div>
                <div class="slider-image">
                  <figure><img src="../images/beef-page/simmental/slide-2/simmental-6.jpg" alt="Szimentáli"></figure>
                </div>
                <div class="slider-image">
                  <figure><img src="../images/beef-page/simmental/slide-2/simmental-7.jpg" alt="Szimentáli"></figure>
                </div>
                <div class="slider-image">
                  <figure><img src="../images/beef-page/simmental/slide-2/simmental-8.jpg" alt="Szimentáli"></figure>
                </div>
                <div class="slider-image">
                  <figure><img src="../images/beef-page/simmental/slide-2/simmental-9.jpg" alt="Szimentáli"></figure>
                </div>
                <div class="slider-image">
                  <figure><img src="../images/beef-page/simmental/slide-2/simmental-10.jpg" alt="Szimentáli"></figure>
                </div>
                <div class="slider-image">
                  <figure><img src="../images/beef-page/simmental/slide-2/simmental-11.jpg" alt="Szimentáli"></figure>
                </div>
              </div>
              <div class="about">
                <h3>Characteristics</h3>
                <p>Simmental colour varies from gold to red with white, and may be evenly distributed or clearly defined in patches on a white background. The head is white and often dark pigmentation around the eyes can be found. The legs and tail switch are generally white. Simmentals are naturally horned, but polled strains of Simmental also exist. They have a large frame with good muscling. Weight can vary by the cows around 700-900kgs and bulls 1300kgs. It is a mid-early maturing breed. Heifers can be brought into breeding when reaching a weight of 380-420 kg at an age of 16-20 months.</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <script type="text/javascript">
        $(document).ready(function(){
          $('.slider').slick({
            infinite: true,
            dots: true,
            slidesToShow: 2,
            slidesToScroll: 2,
            autoplay: true,
            autoplaySpeed: 2000
          });
        });
      </script>
      <footer>
        <div class="container">
          <div class="row">
            <div class="col"><a class="logo" href="#"><img src="../images/logo-green.png" alt="logo"></a>
              <p>HU-2100 Gödöllő, Ady Endre sétány 26.</p>
              <p>Email: info@agrota-2L.com, Tel: +36/28 512 390, Fax: +36/28 512 391</p>
              <p>DE-27726 Worpswede, Am Hasenmoor 27a</p>
              <p>Tel: +49 151 54 722 622</p>
              <p><small>Agrota-2L Kft. 2020. All right reserved!</small></p>
            </div>
          </div>
        </div>
      </footer>
    </body>
  </head>
</html>

src/templates/szimentali.pug
include includes/head.pug
  
  body
    include includes/header.pug
    
    section.beef
      .container
        .row
          .col
            h2.page-title Szimentáli Szarvasmarha
    
            p.lead
              b Az egyik legrégebbi és legszélesebb körben tenyésztett szarvasmarha. A svájci Simme völgyéből származik. A szimentáli fajta hozzájárult több más neves európai fajták, mint például a francia eredetű Montbeliarde, a német Fleckvieh és a magyarországi Magyar Tarka fajták létrehozásában. A magyar tarka fajta a XIX. sz. második felében még uralkodó magyar szürke fajtának a szimentáli fajtával végzett fajtaátalakító keresztezéséből származik. A kezdetben kettőshasznosítású fajtaként tenyésztett marha mára világszerte elterjedt és húsmarhaként is egyre nagyobb jelentőségre tett szert.

            .slider
              .slider-image
                figure
                  img(src='./images/beef-page/simmental/slide-1/simmental-1.jpg' alt='Szimentáli')
              .slider-image
                figure
                  img(src='./images/beef-page/simmental/slide-1/simmental-2.jpg' alt='Szimentáli')
              .slider-image
                figure
                  img(src='./images/beef-page/simmental/slide-1/simmental-3.jpg' alt='Szimentáli')
              .slider-image
                figure
                  img(src='./images/beef-page/simmental/slide-1/simmental-4.jpg' alt='Szimentáli')
              .slider-image
                figure
                  img(src='./images/beef-page/simmental/slide-1/simmental-5.jpg' alt='Szimentáli')
              .slider-image
                figure
                  img(src='./images/beef-page/simmental/slide-1/simmental-6.jpg' alt='Szimentáli')
              .slider-image
                figure
                  img(src='./images/beef-page/simmental/slide-1/simmental-7.jpg' alt='Szimentáli')
              .slider-image
                figure
                  img(src='./images/beef-page/simmental/slide-1/simmental-8.jpg' alt='Szimentáli')
              .slider-image
                figure
                  img(src='./images/beef-page/simmental/slide-1/simmental-9.jpg' alt='Szimentáli')

            .about
              h3 Jellemzői
              p A Szimentáli fajtára nézve tipikus a fehér alapon világos sárgástól a vöröses barnáig foltosan tarka szőrzet. Dominánsan öröklődő fehér fej, a szemek körül vöröses barna karikával . Az állatok közepes, vagy nagytestűek, szegyük és lágyékuk magasan van. A húsjellegűeknél keresett a rendszerint izmos mellsőrész, a finom hát, a mélyen elhelyezkedő és jellegzetes comb. A lábak kissé durvák, de korrektek. A szimentáli fajtát mind a fajtiszta, mind a keresztezett tartásban széleskörűen alkalmazzák és hasznosítják. A fajta tejbősége, a borjak jó növekedése és az állatok hosszan tartó izomfejlődése jelentős és értékes gazdaságossági tényezők.

            .slider
              .slider-image
                figure
                  img(src='./images/beef-page/simmental/slide-2/simmental-1.jpg' alt='Szimentáli')
              .slider-image
                figure
                  img(src='./images/beef-page/simmental/slide-2/simmental-2.jpg' alt='Szimentáli')
              .slider-image
                figure
                  img(src='./images/beef-page/simmental/slide-2/simmental-3.jpg' alt='Szimentáli')
              .slider-image
                figure
                  img(src='./images/beef-page/simmental/slide-2/simmental-4.jpg' alt='Szimentáli')
              .slider-image
                figure
                  img(src='./images/beef-page/simmental/slide-2/simmental-5.jpg' alt='Szimentáli')
              .slider-image
                figure
                  img(src='./images/beef-page/simmental/slide-2/simmental-6.jpg' alt='Szimentáli')
              .slider-image
                figure
                  img(src='./images/beef-page/simmental/slide-2/simmental-7.jpg' alt='Szimentáli')
              .slider-image
                figure
                  img(src='./images/beef-page/simmental/slide-2/simmental-8.jpg' alt='Szimentáli')
              .slider-image
                figure
                  img(src='./images/beef-page/simmental/slide-2/simmental-9.jpg' alt='Szimentáli')
              .slider-image
                figure
                  img(src='./images/beef-page/simmental/slide-2/simmental-10.jpg' alt='Szimentáli')
              .slider-image
                figure
                  img(src='./images/beef-page/simmental/slide-2/simmental-11.jpg' alt='Szimentáli')
    
    include includes/beefslider.pug
    include includes/footer.pug
